<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>

<body>


    <!-- This is the "About Me" section that features 2 paragraphs about facts about me. -->
    <h1>About Me</h1>

<p>
    Hello everyone! My name is <strong>Preethi Narayanan</strong>, and I am a senior at the University of
    Maryland. I am majoring in both <strong>Information Systems and Finance</strong>. I am expected to graduate in May
    2027. I am currently looking for full-time business analyst or software engineering positions.
</p>

    <p>
        I am really interested in exploring the intersection between technology and business. I want to be able to
        use my coding skills to help others. I want to work in a field where I can use my skills to find solutions
        to real-life problems. I have experience in Java, Python, C++, R, SQL, JavaScript, HTML, and CSS.
    </p>


    <!-- This section contains courses that I have taken. -->
    <h2>Courses</h2>

    <p>
        I have taken a wide variety of finance and information systems courses.
    </p>

    <!-- I created a table that has the course and semester as headings. The course name and ID are listed,
    along with the semester I took them in. -->
   <table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>

    <tr>
        <td>BMGT402 - AI Augmented Databases</td>
        <td>Fall 2025</td>
    </tr>

    <tr>
        <td>BMGT343 - Investments</td>
        <td>Fall 2025</td>
    </tr>

    <tr>
        <td>BMGT440 - Advanced Financial Management</td>
        <td>Fall 2025</td>
    </tr>

    <tr>
        <td>BMGT403 - Systems Analysis and Design</td>
        <td>Spring 2026</td>
    </tr>

    <tr>
        <td>BMGT443 - Applied Equity Analysis and Portfolio Management</td>
        <td>Spring 2026</td>
    </tr>

    <tr>
        <td>BMGT400 - Storytelling with AI and Data Visualization</td>
        <td>Spring 2026</td>
    </tr>

    <tr>
        <td>BMGT430 - Data Modeling in Business</td>
        <td>Spring 2026</td>
    </tr>

    <tr>
        <td>BMGT407 - Capstone Project in Information Systems and AI</td>
        <td>Fall 2026</td>
    </tr>

    <tr>
        <td>BMGT446 - International Finance</td>
        <td>Fall 2026</td>
    </tr>
</table>

    <!-- This section contains experiences I have. These are current job roles and internships
    I have had over the years. -->
    <h2>Experiences</h2>

    <h3>ST Engineering iDirect - Software Engineer Intern</h3>

    <p><em>May 2025 - August 2026</em></p>

    <p>
        During my 2025 summer internship, I worked on software development and testing for a satellite
        communication system. I contributed to the testing and development of 5 new features for an upcoming
        satellite communication system update. I wrote and maintained C++ code. During my 2026 summer internship,
        I resolved critical code smells which helped improve maintainability and system reliability. I also
        deployed and validated Cloud Native Functions within a Kubernetes-based development environment.
        Overall, I gained experience working with a cross-functional and global engineering team.
    </p>


    <h3>University of Maryland - Teaching Assistant</h3>

    <p><em>August 2026 - May 2027</em></p>

    <p>
        I am a Teaching Assistant for <strong>BMIN 355 - Foundations of Marketing for Non-Business Majors</strong>.
        I help students learn introductory marketing concepts, grade their weekly assignments, and provide feedback
        to help them improve their understanding of the course material.
    </p>


    <h3>United States Department of Agriculture - Genetics Intern</h3>

    <p><em>November 2022 - May 2023</em></p>

    <p>
        I conducted strawberry genetics research under the guidance of Dr. Janet Slovin. I conducted DNA extractions
        and gel electrophoresis. I took care of the plants. I also gained experience in data visualization and
        analytics.
    </p>


    <!-- This section contains activities that I participate in or have participated in. I made this an
    unordered list. -->
    <h2>Activities</h2>

    <ul>
        <li>Doubles Player in Tennis</li>
        <li>Recruitment Advisor for Delta Kappa Delta Sorority Inc.</li>
        <li>Lakeland Stars Tutor</li>
        <li>Special Projects Officer in Junior Reserve Officers Training Corps (JROTC)</li>
    </ul>


    <!-- This section contains skills I know. I made this an ordered list. -->
    <h2>Skills</h2>

    <ol>
        <li>Java</li>
        <li>Python</li>
        <li>C++</li>
        <li>R</li>
        <li>SQL</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Artificial Intelligence</li>
        <li>Bloomberg Terminal</li>
        <li>DCF Valuation</li>
    </ol>


    <!-- This section contains my favorite websites. -->
    <h2>Favorite Websites</h2>

    <p>
        Two websites I enjoy are
        <a href="https://www.linkedin.com">LinkedIn</a>
        and
        <a href="https://www.nasdaq.com" target="_blank">Nasdaq</a>.
    </p>


    <!-- Robert H. Smith School of Business logo -->
    <h2>University</h2>

    <img
        src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
        width="267"
        height="72"
        alt="Smith Logo">

       <!-- This section has the hello.html page -->
<p>
    Visit my <a href="hello.html">Hello page</a>.
</p>

</body>
</html>